schemaVersion: 1.1
endpoints:
#foreach($endpoint in $endpoints)
    - name: $endpoint.api_name
      displayName: $endpoint.api_display_name
      service:
        basePath: $endpoint.api_base_path
        port: $endpoint.api_port
      type: REST
      networkVisibilities:
        - Project
        - Public
      schemaFilePath: $endpoint.api_oas_file
#end
