[package]
org = "${org}"
name = "${packageName}"
version = "${version}"
distribution = "${distribution}"
authors = ["${authors}"]
keywords = ["Healthcare", "FHIR", "R4", "${igName}"]
#if($isBasePackage)
export = [
    "${packageName}",
    "${packageName}.parser",
    "${packageName}.terminology",
    "${packageName}.validator"
]
#else
export = ["${packageName}"]
#end

#foreach($dependency in $dependencies)
[[dependency]]
org = "$dependency.getOrg()"
name = "$dependency.getName()"
version = "$dependency.getVersion()"
#if($dependency.getRepository())
repository = "$dependency.getRepository()"
#else
#end
#end
