#if($isBasePackage)
# FHIR R4 Base module
#else
# FHIR R4 ${igName} module
#end

## Module Overview
This module provides record types, processors and utilities for implementing FHIR APIs and creating, accessing and
manipulating FHIR resources.
