#set( $H = '#' )
$H FHIR Parser module

$H$H Overview

This module provides utility functions required for parsing FHIR resource payloads to corresponding FHIR
resource models.

$H$H$H Usage : Parse

**01. Parse to FHIR base resource model**

In this approach user just need to provide only the FHIR resource payload. Based on the resource type, parser will parse
it to it's base profile model.

```ballerina
import $org/$packageName;
import $org/${packageName}.parser;

json payload = {
    "resourceType": "Patient",
    "id": "1",
    "meta": {
        "profile": [
            "http://hl7.org/fhir/StructureDefinition/Patient"
        ]
    },
    "active":true,
    "name":[
        {
            "use":"official",
            "family":"Chalmers",
            "given":[
                "Peter",
                "James"
            ]
        }
    ],
    "gender":"male",
    "birthDate":"1974-12-25",
    "managingOrganization":{
        "reference":"Organization/1"
    }
};
do {
    ${packageIdentifier}:Patient pat = <${packageIdentifier}:Patient> check parser:parse(payload);
} on fail ${packageIdentifier}:FHIRParseError err {
    log:printError("Error occurred while parsing", err);
}
```

*Note:* `parse` function returns `anydata` type when success, and it needs to be cast to the relevant FHIR Resource type.

**02. Parse to given FHIR profile resource model**

In this approach the parser will attempt to parse the given FHIR resource payload to given resource type

```ballerina
import $org/$packageName;
import $org/${packageName}.parser;

json payload = {
    "resourceType": "Patient",
    "id": "1",
    "meta": {
        "profile": [
            "http://hl7.org/fhir/StructureDefinition/Patient"
        ]
    },
    "active":true,
    "name":[
        {
            "use":"official",
            "family":"Chalmers",
            "given":[
                "Peter",
                "James"
            ]
        }
    ],
    "gender":"male",
    "birthDate":"1974-12-25",
    "managingOrganization":{
        "reference":"Organization/1"
    }
};
do {
    ${packageIdentifier}:Patient pat = <${packageIdentifier}:Patient> check parser:parse(payload, ${packageIdentifier}:Patient);
} on fail ${packageIdentifier}:FHIRParseError err {
    log:printError("Error occurred while parsing", err);
}
```

*Note:* `parse` function returns `anydata` type when success, and it needs to be cast to the relevant FHIR Resource type.
